/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Section for variables storage */
:root {

    /* General Colors */
    --color-white: white;
    --color-black: black;

    /* Main Content Colors */
    --header-bg-color: #ff6900;
    --main-bg-color: #ffffff;
    --footer-bg-color: #1a1a1a;

    /* Tags Section */
    --tag-discount-price: #ff0000;
    --tag-sostenibility: #017f01;

    /* Miscellaneus Section */
    --tag-current-price: #ff0000;
    --heart-color: #ee5151;

}

/* --- CSS Code Page Begin --- */

/* General Selectors */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

    /* Important Class for centering page */
    .page-space-important {
        /* For Spacing */
        margin: 0 auto;
        max-width: 1100px;
        width: 80%;
    }

.border-placeholder {
    border: 1px dashed red;
}

/* Header section */
.header {
    background-color: var(--header-bg-color);
    height: 100px;
}
