/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Section for variables storage */
:root {

    /* General Colors */
    --color-white: white;
    --color-black: black;

    /* Main Content Colors */
    --header-bg-color: #ff6900;
    --main-bg-color: #ffffff;
    --footer-bg-color: #1a1a1a;

    /* Tags Section */
    --tag-discount-price: #ff0000;
    --tag-sostenibility: #017f01;

    /* Miscellaneus Section */
    --tag-current-price: #ff0000;
    --heart-color: #ee5151;
    --hover-list: #fedcc4;

}

/* --- CSS Code Page Begin --- */

/* General Selectors */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

img {
    height: 500px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    color: var(--color-white);
}

.flex {
    display: flex;
}

.wrapper {
    max-width: 1200px;
    min-width: 400px;
}

    /* Important Class for centering page */
    .page-space{
        /* For Spacing */
        margin: 0 auto;
        width: 90%;
    }

.border-placeholder {
    border: 2px dashed red;
}

/* Header Section */
.header {
    background-color: var(--header-bg-color);
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 5px 5px 10px #888888;
}

.nav-container {
    padding: 1.3rem 0;
}

.gender-list-wrapper,
.user-call-to-action {
    flex: 1 1 20%;
}

.gender-list {
    color: var(--color-white);
    align-items: center;
    font-weight: 700;
    gap: 0.8rem;
}
    .gender-list >li:hover {
        color: var(--hover-list);
        cursor: pointer;
    }

.logo {
    flex: 2 1 60%;
    justify-content: center;
    align-items: center;
}
    .logo > img {
        height: 30px;
        cursor: pointer;
    }

.user-call-to-action {
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
}
    .user-call-to-action > i:hover {
        color: var(--hover-list);
        cursor: pointer;
    }

/* Main Content Section */
.main {
    background-color: var(--color-white);
}

.product-row-container {
    padding: 2rem 0.5rem 3rem 0.5rem;
    gap: 1.5rem;
}

    /* Product Card */
    .product-item-card {
        /* TO-DO Remove it for later */
        height: 600px;
        width: calc(100% / 3);
        flex-direction: column;
    }

    .product-image-section {
        width: 100%;
        position: relative;
    }
        .product-image-section > img {
            object-fit: cover;
            width: 100%;
        }

    .product-visual {
        position: relative;
        z-index: 2;
    }

    .product-visual-hover {
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Tags Card Section */
    .like-section {
        position: absolute;
        z-index: 5;
        right: 0;
        top: 1.5rem;
    }
        .like-button {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color: var(--color-white);
            position: relative;
        }
        .like-button > i {
            color: var(--color-black);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%, -50%);
        }

    .tag-section {
        position: absolute;
        z-index: 5;
        left: 0;
        bottom: 2rem;
    }
        .tag-discount {
            display: inline-block;
            background-color: var(--tag-discount-price);
            color: var(--color-white);
            font-weight: 500;
            padding: 0.2rem 0.6rem;
            font-size: 0.9rem;
        }

        .tag-sustainability{
            display: inline-block;
            background-color: var(--tag-sostenibility);
            color: var(--color-white);
            font-weight: 500;
            padding: 0.2rem 0.6rem;
            font-size: 0.9rem;
        }

    /* Item Info Card */
    .item-info {

        height: 15%;
        border: 2px dashed black;
    }

/* Footer Section */
.footer {
    background-color: var(--footer-bg-color);
    align-items: center;
    justify-content: center;
}

.footer-container {
    justify-content: space-between;
    padding: 1.3rem 0;
}

.article-infos-list,
.agency-info-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
    .article-infos-list > h4 {
        color: var(--color-white);
        font-weight: 700;
    }

    .agency-list {
        color: var(--color-white);
        font-weight: 300;
        font-size: 0.8rem;
        gap: 0.5rem;
    }

    .agency-list > li {
        gap: 0.5rem;
    }
    .agency-list > li:hover {
        color: var(--hover-list);
        cursor: pointer;
    }

.social-list-wrapper {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
    .social-list-wrapper > h4 {
        color: var(--color-white);
        font-weight: 700;
    }

.social-list {
    gap: 1rem;
}
    .social-list > i {
        font-size: 1.6rem;
        cursor: pointer;
    }
    .social-list > i:hover {
        color: var(--hover-list);
    }

.article-infos-list,
.social-list-wrapper {
    width: 30%;
}

.social-list,
.agency-info-wrapper {
    padding-top: 1rem;
}
